@import "../../../common/theme";
.api-doc-header {
  height: 60px;
  line-height: 60px;
  background-color: @primary-color;
  color: #fff;
  .content {
    display: flex;
    .logo {
      font-size: 30px;
      margin: 0 20px;
    }
    .title {
      font-size: 22px;
    }
  }
}